html, body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
#container {
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    overflow-x: auto;
}
@media screen and (orientation:portrait){
    #container {
        width: 90%;
    }
}
@media screen and (orientation:landscape){
    #container {
        width: 80%;
    }
}
h1 {
    text-align: center;
}
a {
    font-size: 20px;
    color: blue;
    text-decoration: none;
}
a:hover {
    color: rgb(122, 159, 228);
    cursor: pointer;
}
video {
    width: 100%;
}
.vid-box {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    width: 100%;
}
.img-box {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-style: hidden;
}
table td, table th {
    border: 1px solid black;
}
td, th {
    padding: 5px 10px 5px 5px;
}
.code {
    width: 95%;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightgray;
}
.back {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    position: fixed; 
    left: 5px;
    top: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
.back:hover {
    background-color: #ddd;
}